:root {
    --color-text: #000;
    --color-bg: #fff;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
}

.text-autoprefixer {
    display: flex;
    transition: 0.3s;
    user-select: none;
}

@import './media';