:root {
    --color-black: #000;
    --color-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-black);
    background-color: var(--color-white);
}


.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-white);
}

.site-content {
    flex: 1 0 auto;
}

@media screen and (max-width: 1199px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}

// UI
@import './UI/buttons.scss';
@import './UI/inputs.scss';
@import './UI/links.scss';

// components
@import './components/header.scss';
@import './components/footer.scss';