:root {
    --color-text: #000;
    --color-bg: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--color-text);
    background-color: var(--color-bg);
}

@media screen and (max-width: 1199px) {}
@media screen and (max-width: 992px) {}
@media screen and (max-width: 768px) {}
@media screen and (max-width: 576px) {}

// UI
@import './UI/buttons.scss';
@import './UI/inputs.scss';
@import './UI/links.scss';